/* Author:  Timothy Field */

/*--------------------------------
        FONTS FROM GOOGLE          
---------------------------------*/

@font-face {
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v16/TK3iWkUHHAIjg752GT8G.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans'), local('PTSans-Regular'), url(https://fonts.gstatic.com/s/ptsans/v9/jizaRExUiTo99u79D0KExQ.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
    src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 400;
    src: local('PT Serif'), local('PTSerif-Regular'), url(https://fonts.gstatic.com/s/ptserif/v9/EJRVQgYoZZY2vCFuvAFWzr8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

* {
    text-shadow: 0 1px .2px #000000, 2px 3px 20px #777777, 1px 1px 50px #d5d5d5;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway';
    background: rgb(167, 167, 167) url(river-comp.gif) top;
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 1% 0 1%;
    padding: 5% 15% 10% 15%;
}

/* Main css grid */


.page-wrapper {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.5), rgba(96, 194, 148, 0.2));
    padding: 1px 10px;
    border: 1px solid black;
    box-shadow: 1px 0px 100px 0px rgba(50, 50, 50, 0.75);
    display: grid;
    grid-gap: .5em;
    grid-template-columns: repeat(12, [col-start] 1fr);
    /* grid-template-rows: auto 1fr auto; */
    /* overflow: hidden; */
    width: 100%
}

.page-wrapper>* {
    grid-column: col-start / span 12;
}

p {
    font-size: 85%;
}

.summary {
    background: linear-gradient(0deg, rgba(56, 177, 247, 0.584), rgba(255, 255, 255, 0.43));
    box-shadow: 1px 1px 1px 4px rgba(40, 59, 84, 0.9);
    font-size: 1.2em;
    padding: .5%;
    margin: .5%;
}

.page-wrapper .intro {
    border-bottom: rgb(40, 85, 125) groove 3px;
    grid-column: col-start / span 12;
}

.page-wrapper .main.supporting {
    width: auto;
    grid-column: 5 / span 8;
    grid-row: 2 / 3;
    margin: 0 3%;
}

.preamble {
    padding: 1% 2%;
    margin: 3%;
    box-shadow: 1px 1px 1px 4px rgba(40, 59, 84, 0.9);
    background: linear-gradient(0deg, rgba(56, 177, 247, 0.584), rgba(255, 255, 255, 0.43));
}

.main div {
    padding: 5% 5%;
    margin: 5% 3%;
    box-shadow: 1px 1px 1px 4px rgba(40, 59, 84, 0.9);
    background: linear-gradient(0deg, rgba(56, 177, 247, 0.584), rgba(255, 255, 255, 0.43));
}

.main div:hover {
    background: linear-gradient(0deg, rgba(56, 177, 247, 0.784), rgba(255, 255, 255, 0.63));
}

.page-wrapper header {
    width: auto;
    display: block;
    text-align: center;
    font-family: "Oswald";
    border-bottom: rgb(40, 85, 125) groove 3px;
    font-size: 2.5em;
}

.page-wrapper .main footer {
    width: fit-content;
    position: relative;
    display: block;
    background: linear-gradient(180deg, rgba(56, 177, 247, 0.184), rgba(255, 255, 255, 0.73));
    box-shadow: 1px 1px 1px 4px rgba(40, 59, 84, 0.9);
    text-align: center;
    margin: 20px auto;
}

footer a {
    padding: 0 1em;
    font-size: 1.1em;
    color: black;
    transition: all .25s;
}

footer a:hover {
    font-size: 2.5em;
    color: #C38C57;
}

.sidebar {
    grid-column: 1 / span 5;
    grid-row: 2;
    padding: 3%;
    margin: 3%;
}

.wrapper ul {
    padding: 0px;
    font-size: 78%;
}

.wrapper div {
    box-shadow: 1px 1px 1px 4px rgba(40, 59, 84, 0.9);
    padding: 0 10%;
    margin: 1% 3%;
    background: linear-gradient(0deg, rgba(56, 177, 247, 0.584), rgba(255, 255, 255, 0.43));
}

h1 {
    font-size: 200%;
    padding: 0;
    margin: 1%;
}

abbr {
    text-decoration: none;
}

h2 {
    font-style: italic;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 5px #000000, 2px 3px 2px #222222, 1px 1px 2px #a2a2a2;
    font-size: 1.5em;
    padding: 0;
    margin: 1%;
}

h3 {
    font-size: 2em;
    border-bottom: rgb(40, 85, 125) groove 3px;
    padding: 3% 0;
    margin: 1%;
}

/* Another grid inside the sidebar */

.wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    grid-template-rows: auto 1fr auto;
    padding: 0 10px;
    height: fit-content;
}

.wrapper h3 {
    border-bottom: rgb(40, 85, 125) groove 3px;
}

.design-selection {
    grid-column: 1;
    grid-row: 1;
}

.design-archives {
    grid-column: 1;
    grid-row: 2;
}

.zen-resources {
    grid-column: 1;
    grid-row: 3;
}

/* Just hide presentation divs  */

[role="presentation"] {
    height: 0;
    visibility: hidden;
}

/*--------------------------------
    Devices smaller than 1200px 
---------------------------------*/

@media screen and (max-width:1200px) {
    * {
        text-shadow: 0 0px 0px #000000;
    }
    body {
        background: rgb(167, 167, 167) url(riverStill.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        margin: 0;
    }
    .page-wrapper {
        padding: 0;
        margin: 0;
        font-size: 95%;
        background: linear-gradient(180deg, rgba(67, 116, 116, 0.5), rgba(96, 194, 148, 0.2));
        padding: 1px 10px;
        border: 1px solid black;
        box-shadow: 1px 0px 100px 0px rgba(50, 50, 50, 0.75);
        display: block;   
        overflow: hidden;
        width: fit-content;
    }
    li {
        font-size: 120%;
    }
    .page-wrapper .intro {
        font-size: 62.5%;
    }
}